{
    "hosts": {
        "bondaretstest.atlassian.net": {
            "product": "jira",
            "username": "yar.bondarets@gmail.com",
            "password": "5TqScZMqBYOERxULLhTH1EF1"
        }
    }
}
